// @import "compass/reset";
body{
	// overflow: hidden;
	background: #FFF1E9;
}


.goTop{
	display: block;
	border-bottom: 1px solid #535353;
}


.foodwrapper{
	width: 1300px;
	height: 960px;
	margin: 0 auto;
	&.cut{
		background: url("../images/img_board.png") no-repeat;
		background-position: top;

	}


	// cut
	.food{
		cursor: pointer;
		float: right;
	}

	// fire
	.pan{
		width: 735px;
		height: 349px;
	}

	.gas{
		width: 735px;
		height: 142px;
		position: relative;
		&.on{
			background: url("../images/utensil/img_gas_on.png");
			.gasSwitch{
				-webkit-transform: rotate(120deg);
			}
		}
		&.off{
			background: url("../images/utensil/img_gas_off.png");
		}
		.gasSwitch{
			cursor: pointer;
			width: 80px;
			height: 80px;
			right: 80px;
			bottom: 8px;
			position: absolute;
		}
	}


}



