// @import "compass/reset";
body{
	// overflow: hidden;
	background: url("../images/bg.png");
}
h2{
	margin: 0;
}

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

.title{
	width: 702px;
	height: 960px;
	margin: 0 auto;
	text-align: center;
}

.minict_wrapper{
	margin-top: 20px;
}

.finishimg{
	width: 653px;
	margin: 0 auto;
	margin-top: 10px;
	p{
		font-size: 20px;
	}
}

.goTop{
	display: block;
	cursor: pointer;
}

input#r_send{
	margin-top: 100px;
}


.foodwrapper{
	width: 1200px;
	height: 960px;
	margin: 0 auto;
	&.cut{
		background: url("../images/img_board.png") no-repeat;
		background-position: top;

	}
	&.gasoff{
		width: 735px;
		height: 960px;
		margin: 0 auto;
	}
	&.gason{
		@extend .gasoff;
	}

	h2{
		font-size: 3em;
		background: white;
	}

	// cut
	.food{
		cursor: pointer;
		float: right;
	}

	// fire
	.pan{
		width: 735px;
		height: 349px;
	}

	.gas{
		width: 735px;
		height: 142px;
		position: relative;
		&.on{
			background: url("../images/utensil/img_gas_on.png");
			.gasSwitch{
				-webkit-transform: rotate(120deg);
			}
		}
		&.off{
			background: url("../images/utensil/img_gas_off.png");
		}
		.gasSwitch{
			cursor: pointer;
			width: 80px;
			height: 80px;
			right: 80px;
			bottom: 8px;
			position: absolute;
		}
	}


}



