.foodwrapper {
  width: 1410px;
  height: 960px;
  margin: 0 auto;
}
.foodwrapper .food {
  cursor: pointer;
  float: right;
}
.foodwrapper .pan {
  width: 735px;
  height: 349px;
}
.foodwrapper .gas {
  width: 735px;
  height: 142px;
  position: relative;
}
.foodwrapper .gas.on {
  background: url("../images/utensil/img_gas_on.png");
}
.foodwrapper .gas.on .gasSwitch {
  -webkit-transform: rotate(120deg);
}
.foodwrapper .gas.off {
  background: url("../images/utensil/img_gas_off.png");
}
.foodwrapper .gas .gasSwitch {
  cursor: pointer;
  width: 80px;
  height: 80px;
  right: 80px;
  bottom: 8px;
  position: absolute;
}
