body {
  background: url("../images/bg.png");
}

h2 {
  margin: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  width: 702px;
  height: 960px;
  margin: 0 auto;
  text-align: center;
}

.minict_wrapper {
  margin-top: 20px;
}

.goTop {
  display: block;
  border-bottom: 1px solid #535353;
  cursor: pointer;
}

input#r_send {
  margin-top: 100px;
}

.foodwrapper {
  width: 1200px;
  height: 960px;
  margin: 0 auto;
}
.foodwrapper.cut {
  background: url("../images/img_board.png") no-repeat;
  background-position: top;
}
.foodwrapper.gasoff, .foodwrapper.gason {
  width: 735px;
  height: 960px;
  margin: 0 auto;
}
.foodwrapper h2 {
  font-size: 3em;
  background: white;
}
.foodwrapper .food {
  cursor: pointer;
  float: right;
}
.foodwrapper .pan {
  width: 735px;
  height: 349px;
}
.foodwrapper .gas {
  width: 735px;
  height: 142px;
  position: relative;
}
.foodwrapper .gas.on {
  background: url("../images/utensil/img_gas_on.png");
}
.foodwrapper .gas.on .gasSwitch {
  -webkit-transform: rotate(120deg);
}
.foodwrapper .gas.off {
  background: url("../images/utensil/img_gas_off.png");
}
.foodwrapper .gas .gasSwitch {
  cursor: pointer;
  width: 80px;
  height: 80px;
  right: 80px;
  bottom: 8px;
  position: absolute;
}
